* {margin: 0; padding:0; box-sizing: border-box;}

body{
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to right,
      pink 0%,
      pink 50%,
      cyan 50%,
      cyan 100%
    );
  } 

.head_title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 30rem;
    font-size: 3.5rem;
    font-family :sans-serif ;
    background-color: rgb(201, 221, 243);
    margin: 4rem auto;
    box-shadow: 15px 15px 20px #6e6969;
    border-radius: 0.8rem;
    font-weight: bold;
}

body {
  margin: 0;
  background-color: #5feed6;
  font-family: "Fredoka", sans-serif;
}
